.realstate-info{
    display: flex;
    flex-direction: column;
    background-color: #F9F7F4;
    padding: 3rem;

    .realstate-title{
        font-weight: bold;
        font-size: 1.5rem;
        display: flex;
        align-items: center;

        .realstate-vip{
            padding: 2px 5px;
            background-color: #1B6F58;
            color: #fff;
            font-weight: bold;
            margin-right: 1rem;
            font-size: 16px;
            border-radius: 5px;
        }
        .realstate-category{
            border: none;
            background-color: #000;
            color: #fff;
            font-weight: bold;
            font-family: var(--font-vazirmatn);
            font-weight: bold;
            padding: 4px 9px;
            border-radius: 5px;
            margin-right: 10px;
            transition: 0.3s;
            
            &:hover{
                background-color: #1B6F58;
            }
        }
    }
    .realstate-attributes{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        .realstate-attributes-list{
            display: flex;

            .realstate-attribute{
                display: flex;
                color: #687693;
                font-weight: bold;
                align-items: center;
                margin-left: 2.5rem;
            }
        }
        .realstate-price{
            color: #1B6F58;
            font-weight: bold;
            font-size: 2.5rem;
        }
    }
    .realstate-info-footer{
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;

        .realstate-actions{
            display: flex;

            button{
                border: 1px solid #b4b7c9;
                background: transparent;
                padding: 5px 8px;
                color: #b4b7c9;
                transition: 0.3s;
                border-radius: 7px;
                margin-left: 1rem;

                &:hover{
                    color: #fff;
                    background-color: #1B6F58;
                }
            }
        }
        .realstate-user{
            display: flex;
            align-items: center;
            color: #687693;

            span{
                margin-right: 1rem;
            }
        }
    }
}
.realstate-gallery{
    margin-top: 2rem;
}
.realstate-description, .realstate-attrs, .realstate-comment-create{
    padding: 2rem;
    background-color: #F7F8F9;
    border-radius: 8px;
    margin-bottom: 1rem;
    
    .realstate-attr{
        margin-left: 2rem;
    }
    p{
        text-align: justify;
        margin-bottom: 1rem;
        color: #687693;
    }
}
.realstate-comments{
    display: flex;
    flex-direction: column;

    .realstate-comment{
        display: flex;
        padding-right: 0.7rem;
        margin-bottom: 3rem;

        .realstate-comment-info{
            display: flex;
            flex-direction: column;

            .realstate-comment-stars{
                margin-top: 0.5rem;
            }
        }
    }
}
.realstate-comment-input{
    border: none;
    padding: 1rem;
    border-radius: 50px;
    font-family: var(--font-vazirmatn);
    outline: none;
}
.realstate-comment-label{
    font-weight: bold;
    margin-bottom: 1rem;
}
.realstate-comment-submit{
    padding: 1rem 2.5rem;
    background-color: #1B6F58;
    color: #fff;
    font-weight: bold;
    margin-top: 1rem;
    border: none;
    border-radius: 50px;
    font-family: var(--font-vazirmatn);
    transition: 0.3s;

    &:hover{
        background-color: #A68E74;
    }
}