.blogs{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;

    .blogs-title{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        span{
            width: 625px;
            text-align: center;
            margin-top: 10px;
            font-weight: bold;
            color: #687693;
        }
    }
}