.consultant-card{
    width: 100%;
    position: relative;
    z-index: 1;

    .consultant-image{
        padding: 0 25px;
    }
    .consultant-info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .consultant-name{
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 5px;
            margin-top: 1rem;
            transition: 0.3s;

            &:hover{
                color: #1B6F58;
            }
        }
        .consultant-role{
            font-weight: bold;
            font-size: 14px;
            color: #687693;
            margin-bottom: 1rem;
        }
        .consultant-socials{
            display: flex;
            justify-content: center;
            align-items: center;

            a{
                margin: 0 5px;
            }
        }
        &::before{
            position: absolute;
            content: '';
            right: 0;
            left: 0;
            bottom: -10px;
            width: 100%;
            height: 255px;
            border-radius: 7px;
            background: linear-gradient(-180deg, #EDF7FF 0%, #FAF3E1 100%);
            z-index: -1;
        }
    }
}