.service-item{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    // border-left: 1px solid #DAE8F0;

    .service-item-badge{
        padding: 3px 1.2rem;
        border-radius: 5px;
        background-color: #A68E74;
        color: #fff;
        font-weight: bold;
    }
    .service-item-line{
        width: 150px;
        height: 3px;
        background-color: #1B6F58;
        margin-top: 2rem;
    }
}