.consultants{
    display: flex;
    flex-direction: column;
    margin-top: 6rem;

    .consultants-title{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;

        span{
            font-size: 14px;
            color: #687693;
            text-align: center;
            max-width: 625px;
            font-weight: bold;
            margin-top: 10px;
        }
    }
}