.city-item{
    &:hover .city-info{
        bottom: 5%;
    }

    .city-info{
        padding: 2rem;
        background-color: rgba($color: #000000, $alpha: 0.7);
        display: flex;
        flex-direction: column;
        color: #fff;
        font-weight: bold;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 80%;
        bottom: -100%;
        right: 10%;
        border-radius: 8px;
        transition: 0.5s;
    }
}
