.header{
    width: 100%;
    background-color: #F1F0EB;
    padding: 20px 0;
    
    .header-searchbox{
        width: 100%;
        background-color: #fff;
        display: flex;
        border-radius: 30px;
        padding: 0 15px;
        height: 100%;
        overflow: hidden;

        input{
            border: none;
            outline: none;
            flex: 1;
            padding: 0.8rem 0;
        }
        button{
            border: none;
            background: none;
            display: flex;
            align-items: center;
            color: #1B6F58;
        }
    }
}
.header-navbar{
    list-style: none;
    display: flex;
    align-items: center;

    .header-navbar-item{
        margin-left: 1rem;
        padding: 5px 10px;
        border-radius: 8px;
        position: relative;

        &.active{
            background-color: rgba(171, 148, 136, 0.06);

            a{
                color: #1B6F58;
            }
        }
        &:hover .header-navbar-item-dropdown{
            display: flex;
        }
    }
    .header-navbar-item a{
        text-decoration: none;
        color: #020000;
        font-size: 14px;
        display: flex;
        align-items: center;
    }
    .header-navbar-item-dropdown{
        width: 230px;
        background-color: #fff;
        position: absolute;
        top: 100%;
        right: 0;
        list-style: none;
        display: none;
        flex-direction: column;
        padding: 1rem;
        box-shadow: rgba(4, 4, 5, 0.2) 0px 7px 36px -8px;
        border-radius: 6px;

        li{
            margin-bottom: 10px;
        }
    }
}
.header-login{
    text-decoration: none;
    color: #020000;
    font-weight: bold;
    font-size: 1.1rem;
    transition: 0.3s;
    margin-left: 2rem;

    &:hover{
        color: #1B6F58;
    }
}
.header-contactus{
    background-color: #020000;
    border: none;
    padding: 12px 24px;
    border-radius: 50px;
    color: #fff;
    font-family: var(--font-vazirmatn);
    transition: 0.3s;

    &:hover{
        background-color: #1B6F58;
    }
}
.header-responsive-btn{
    border: none;
    background: none;
    display: flex;
    align-items: center;
}
.responsive-menu{
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba($color: #000000, $alpha: 0.5);
    overflow: hidden;
    animation: responsiveMenuAnimation forwards 0.5s;
    display: none;

    .responsive-menu-box{
        width: 80%;
        height: 100%;
        background-color: #F1F0EB;
        display: flex;
        flex-direction: column;
        overflow: auto;
        animation: responsiveMenuBoxAnimation forwards 0.5s;

        .responsive-menu-header{
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #A68E74;
            padding: 1rem;

            .responsive-menu-close-btn{
                width: 30px;
                height: 30px;
                border: none;
                border-radius: 50%;
                background-color: #1B6F58;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
        .responsive-menu-body{
            padding: 1rem;

            .responsive-menu-list{
                list-style: none;
                display: flex;
                flex-direction: column;

                .responsive-menu-item{
                    margin-bottom: 1rem;
                    
                    a{
                        text-decoration: none;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        color: #020000;
                        background-color: #fff;
                        padding: 0.5rem 1rem;
                        border-radius: 50px;
                        font-size: 14px;
                    }
                    .responsive-menu-item-arrow{
                        display: flex;
                        align-items: center;
                    }
                    .responsive-menu-item-dropdown{
                        padding: 0.5rem 0;
                        list-style: none;
                        border-top: 1px solid #A68E74;
                        border-radius: 8px 8px;
                        display: none;

                        li{
                            margin-bottom: 10px;
                        }
                    }
                    &.active .responsive-menu-item-dropdown{
                        display: block;
                    }
                }
            }
        }
        .responsive-menu-search{
            border-top: 1px solid #A68E74;
            padding: 1rem;

            .responsive-menu-search-box{
                width: 100%;
                background-color: #fff;
                display: flex;
                align-items: center;
                border-radius: 50px;
                overflow: hidden;
                padding-left: 1rem;

                input{
                    flex: 1;
                    border: none;
                    outline: none;
                    padding: 1rem;
                }
            }
        }
        .responsive-menu-footer{
            display: flex;
            justify-content: space-between;
            border-top: 1px solid #A68E74;
            padding: 1rem;
            align-items: center;

            .responsive-menu-login{
                text-decoration: none;
                color: #020000;
            }
            .responsive-menu-contactus{
                padding: 0.5rem 1.5rem;
                border: none;
                background-color: #020000;
                color: #fff;
                border-radius: 50px;
                font-family: var(--font-vazirmatn);
            }
        }

        @keyframes responsiveMenuBoxAnimation {
            from{
                width: 0;
            }
            to{
                width: 80%;
            }
        }
    }
    @keyframes responsiveMenuAnimation {
        from{
            opacity: 0;
        }
        to{
            opacity: 1;
        }
    }
    &.active{
        display: block;
    }
}