.contact-us{
    width: 100%;
    background-color: red;
    padding: 4rem;
    border-radius: 5px;
    background: linear-gradient(-180deg, #EDF7FF 0%, #FAF3E1 100%);
}
.contactus-btn{
    padding: 15px 32px;
    background-color: #1B6F58;
    border: none;
    border-radius: 50px;
    margin-right: 1rem;
    color: #fff;
    font-weight: bold;
    font-family: var(--font-vazirmatn);
}