.footer{
    background-color: #000;
    display: flex;
    flex-direction: column;

    .footer-social{
        margin-left: 1rem;
    }
    .footer-menu{
        display: flex;
        flex-direction: column;
        list-style: none;

        .footer-menu-item{
            margin-bottom: 10px;
            font-size: 1.1rem;

            a{
                color: #DAE8F0;
                font-size: 15px;
                text-decoration: none;
                transition: 0.3s;

                &:hover{
                    color: #1B6F58;
                }
            }
        }
        .footer-menu-title{
            color: #fff;
            font-weight: bold;
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
    }
    .footer-developer{
        border-top: 1px solid rgba(218, 232, 240, 0.08);
        padding: 1rem 0;
    }
}