.login-box, .register-box{
    padding: 3rem 2rem;
    background-color: #F9F7F4;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .google-signin{
        width: 100%;
        padding: 1rem;
        background-color: #fff;
        border-radius: 8px;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        transition: 0.3s;

        &:hover{
            border: 1px solid #1B6F58;
        }
    }
    .box-divider{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 2rem;
        width: 100%;

        .divider{
            height: 2px;
            background-color: #E9ECEF;
            flex: 1;

            &:nth-child(1){
                margin-left: 20px;
            }
            &:nth-child(2){
                margin-right: 20px;
            }
        }
    }
}
.box-forms{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2rem;

    .form-group{
        display: flex;
        flex-direction: column;
        
        label{
            font-weight: bold;
            font-size: 1.2rem;
            margin-bottom: 0.5rem;
        }
        .input-group{
            width: 100%;
            display: flex;
            padding: 1rem;
            background: #fff;
            border-radius: 30px;
            transition: 0.3s;
            border: 1px solid #fff;
            margin-bottom: 2rem;

            input{
                border: none;
                flex: 1;
                outline: none;
                margin-right: 1rem;
                font-family: var(--font-vazirmatn);
            }
            &:hover{
                border-color: #1B6F58;
            }
        }
    }
    .remember-me{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .form-submit{
        width: 100%;
        padding: 0.5rem 0;
        background-color: #1B6F58;
        color: #fff;
        border: none;
        border-radius: 50px;
        font-family: var(--font-vazirmatn);
        font-size: 1.2rem;
        margin-top: 1rem;
        font-weight: bold;
        transition: 0.3s;

        &:hover{
            background-color: #A68E74;
        }
    }
}