.slider{
    height: 400px;
    padding: 2rem 0;
    background-color: red;
}
.swiper-slide-item{
    width: 100%;
    height: 100%;
}
.slider-badge{
    padding: 3px 1rem;
    background-color: #A68E74;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
.slider-search-input{
    width: 100%;
    background-color: #fff;
    padding: 1rem;
    border-radius: 50px;

    input,select{
        width: 100%;
        border: none;
        background: none;
        font-family: var(--font-vazirmatn);
    }
}
.slider-search-submit{
    width: 100%;
    padding: 1rem;
    border-radius: 50px;
    border: none;
    background-color: #1B6F58;
    color: #fff;
    font-weight: bold;
    font-family: var(--font-vazirmatn);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    &:hover{
        background-color: #A68E74;
    }
}